body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.pageHeader {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    margin-bottom: 20px;
    color: white;
    font-size: 2em;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.shop {
    text-align: center;
    width: 30%;
    /* border: 1px dashed green; */
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 15px;
    color: white;
    background-color: darkgreen;
}

img {
    width: 100%
}

.shopTitle {
    font-size: 1.1em;
    font-weight: bold;
}

.shopInfoAddress {
    font-size: .7em;
}

.shopInfoPhone {
    font-size: .7em;
}

.shopInfoWebsite {
    font-size: .6em;
    font-weight: bold;
}

a {
    color: white;
}